<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>修改密码</title>
    <link href="v1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="v1/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="v1/css/comment.css" rel="stylesheet"/>
    <script src="v1/js/jquery.min.js"></script>
    <script src="v1/js/bootstrap.min.js"></script>
    <script src="v1/js/comment.js"></script>
</head>

<body style="padding-top: 70px;">
<!-- 导航菜单 -->
<div th:replace="v1/common/navbar :: html"></div>

<!-- 主体内容 -->
<div class="container">

    <h2>修改密码</h2>

    <!-- 回到页面顶点 -->
    <div class="goBackToTop">
        <a id="gototop" href="#blog-header" title="回到顶端" style="display: none;">TOP</a>
    </div>

    <!-- 关于对话框主体 -->
    <div class="modal fade" id="aboutDailog" tabindex="-1" role="dialog" aria-labelledby="aboutDailogLabel"
         aria-hidden="true"></div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">旧密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password" required="required" autofocus="autofocus"/>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword" class="col-sm-4 control-label">新密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="newPassword" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-4 control-label">确认密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="confirmPassword" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-2 text-right">
                <button type="submit" class="btn btn-default">确定</button>
            </div>
        </div>
    </form>
    <!-- footer -->
    <div th:replace="v1/common/footer :: html"></div>
</div>


</body>
</html>
