<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>databases</title>
    <link href="../assets/css/amazeui.min.css" rel="stylesheet"/>
    <script src="../assets/js/amazeui.min.js"></script>
</head>
<body>
<div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
    <div class="widget am-cf">
        <div class="widget-head am-cf">
            <div class="widget-title am-fl">圆角斑马线边框</div>
            <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-cog"></a>
            </div>
        </div>
        <div class="widget-body  widget-body-lg am-fr">

            <table width="100%"
                   class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black "
                   id="example-r">
                <thead>
                <tr th:each="model:${header}">
                    <th th:each="entity: ${model.value}" th:text="${entity}"></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="model,iterStat:${list}">
                    <td th:each="entity: ${model.get(iterStat.index+1)}" th:text="${entity==null?'null':entity}">
                    </td>
                    <td>
                        <div class="tpl-table-black-operation">
                            <a href="javascript:;">
                                <i class="am-icon-pencil"></i> 编辑
                            </a>
                            <a href="javascript:;" class="tpl-table-black-operation-del">
                                <i class="am-icon-trash"></i> 删除
                            </a>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>