<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 导航菜单 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- 左导航菜单 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">COLAMSの博客</a>
        </div>

        <!-- 右导航菜单 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="about">关于</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="about">关于</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                        管理<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">登&nbsp;&nbsp;录</a></li>
                        <li><a href="#">注&nbsp;&nbsp;销</a></li>
                        <li class="divider"></li>
                        <li><a href="#">发表博客</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="#">设&nbsp;&nbsp;置</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>