<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>我的首页-v1.0</title>
    <link href="v1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="v1/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="v1/css/comment.css" rel="stylesheet"/>
    <script src="v1/js/jquery.min.js"></script>
    <script src="v1/js/bootstrap.min.js"></script>
</head>

<body style="padding-top: 70px;">
<!-- 导航菜单 -->
<div th:replace="v1/common/navbar :: html"></div>
<!-- 主体内容 -->
<div id="blog-header" class="container" style="background-color: #FFF;">
    <!-- header -->
    <div th:replace="v1/common/header :: html"></div>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><span class="label label-success">原</span> <a href="#">欢迎造访本博客</a> <span
                            class="label label-danger">置顶</span></h4>
                    <p>发表于：2013-01-19 19:42:45</p>
                    <p style="text-indent: 2em;">
                        本站点是基于Heroku云平台建立的轻巧型个人博客，纯属自娱自乐。
                        其实在早些时候，就一直有编写一个自己的个人博客的想法，但由于种种原因而搁浅，一方面是由于早些时候个人的技术还不过关,另一方面就是没有找到免费且服务器稳定的空间提供商。直到去年实习学习RUBY的时候在网页上知道了HEROKU这个平台，渐而燃起了希望。
                        一直有人问我为什么对做博客这样的感兴趣，CSDN，博客园，开源中国等不是提供了现成的了吗？我想说的是，作为一个程序员如果连一个完全属于自己的博客都没有是一件很遗憾的事，那些现成的...
                    </p>
                    <p>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html"><span>阅读(42)</span></a>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html"><span>评论(0)</span></a>
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><span class="label label-success">原</span> <a href="#">解析12306订票流程</a>
                    </h4>
                    <p>发表于：2013-01-19 19:42:45</p>
                    <p style="text-indent: 2em;">
                        前言
                        每当春节临近时，因为网络的方便，访问12306购买火车票回家过年成了很多人的首选。但由于12306的种种不给力，给那些在官网刷票的人带来了很多的不便。从2011年未12306上线起，连续几年回家我都是靠网上购票，今年也不例外；我记得11年时我使用的是官网直接购票，到了12年则使用了新出的木鱼抢票助手，而今年我用了360与猎豹两款主流抢票浏览器，还发动了几位朋友一起帮忙，才买到了一张差强人意的票，现在感觉买票是越来越困难。而就在前几天媒体还曝出了商业黄牛使用假身...
                    </p>
                    <p>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html"><span>阅读(42)</span></a>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html">评论(0)</a>
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><span class="label label-default">转</span> <a href="#">解决近期heroku push
                        timeout错误</a></h4>
                    <p>发表于：2013-01-19 19:42:45</p>
                    <p style="text-indent: 2em;">
                        出处：http://ju.outofmemory.cn/entry/24230 最近不知道什么原因，使用git
                        push不上heroku，总是提示超时，因此在网上搜了一下相关资料，发现上了面的帖子；说是又被GFW阻击了，可能是因为有些人使用heroku部署代理实现翻墙造成的吧，唉，真心不希望heroku被频避，Google的app
                        engine访问不了，可以忍了，但heroku再频避那云服务器能玩的就更少了。 好了言归正转，参考上面的帖子说明了heroku的云服务器对应的如下节点被DNS劫持...
                    </p>
                    <p>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html"><span>阅读(42)</span></a>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html">评论(0)</a>
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><span class="label label-warning">译</span> <a href="#">在Heroku上部署Java应用－部署Java</a>
                    </h4>
                    <p>发表于：2013-01-19 19:42:45</p>
                    <p style="text-indent: 2em;">
                        原文：https://devcenter.heroku.com/articles/connecting-to-relational-databases-on-heroku-with-java
                        部署在Heroku上的应用程序可以使用多种关系数据库服务，包括Heroku提供的Postgres数据库和AWS（亚马逊）提供的MySQL数据库。
                        数据库的提供是通过使用add-on系统实现的。默认情况下，应用将会被提供一个小的并且免费的Postgres数据库，你可以通过如下的命令来检查提供的数据库： ...
                    </p>
                    <p>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html"><span>阅读(42)</span></a>
                        <a class="btn btn-default" role="button" href="show/20130119074245.html">评论(0)</a>
                    </p>
                </div>
            </div>

            <!-- 翻页 -->
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

        <!-- right sider -->
        <div th:replace="v1/common/right-sider :: html"></div>
    </div>

    <!-- footer -->
    <div th:replace="v1/common/footer :: html"></div>

</div>
</body>
</html>